<div>
  <mat-card class="developer-card" *ngFor="let developer of developers">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + developer.photo + ')'}">

      </div>
      <mat-card-title class="developer-title">{{developer.name}}</mat-card-title>
      <mat-card-subtitle>{{developer.title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="developer.photo" [alt]="developer.name">
    <mat-card-content>
      <p>
        {{developer.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="action" mat-mini-fab color="primary" *ngIf="developer.social" [href]="developer.social" target="_blank">
        <mat-icon md-24>
          group
        </mat-icon>
      </a>
      <a class="action" mat-mini-fab color="primary" *ngIf="developer.website" [href]="developer.website" target="_blank">
        <mat-icon md-24>
          public
        </mat-icon>
      </a>
      <a class="action" mat-mini-fab color="primary" *ngIf="developer.email" [href]="developer.email" target="_blank">
        <mat-icon md-24>
          alternate_email
        </mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
